* {
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    font-family: Arial;
}

.imageclass {
    width: 100%;
    height: auto;
}

/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
}

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    background-color: black;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */

.row, .row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */

.column {
    float: left;
    width: 33.3%;
}

/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.messages {
    border: 1px solid #ccc;
    width: 100%;
    height: 150px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messfeedback {
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message {
    color: cornsilk;
}

.message p {
    margin: 5px 0;
}

.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
}

.tip-up {
    top: -25px;
    /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.tip-down {
    bottom: -25px;
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.tip-right {
    top: 10px;
    right: -25px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.dialogbox .body {
    position: relative;
    max-width: 250px;
    height: auto;
    margin: 5px 0px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 3px;
    border: 5px solid #ccc;
}

.body .comment {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #797979;
}

.titleandprice .menutitle {
    float: left;
    list-style: none;
}

.menutitle h4 {
    font-size: 16px;
}

.titleandprice .price {
    float: right;
    background-color: lightcyan;
}

textarea {
    height: auto;
    max-width: 600px;
    color: #999;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    line-height: 1em;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 30px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
}

* {
    -webkit-font-smoothing: antialiased !important;
}

.formdiv {
    display: inline-block;
    position: relative;
}

.textareabutton {
    display: inline-block;
    padding: 0.2em 1.45em;
    margin: 0.1em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #CCCCCC;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.buybutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 7px 24px;
    border: 1px solid #6a290c;
    border-radius: 8px;
    background: #c84d16;
    background: -webkit-gradient(linear, left top, left bottom, from(#c84d16), to(#6a290c));
    background: -moz-linear-gradient(top, #c84d16, #6a290c);
    background: linear-gradient(to bottom, #c84d16, #6a290c);
    text-shadow: #3f1807 1px 4px 1px;
    font: normal normal bold 14px arial;
    color: #ffffff;
    text-decoration: none;
}

.buybutton:hover, .buybutton:focus {
    border: 1px solid #7d300e;
    background: #f05c1a;
    background: -webkit-gradient(linear, left top, left bottom, from(#f05c1a), to(#7f310e));
    background: -moz-linear-gradient(top, #f05c1a, #7f310e);
    background: linear-gradient(to bottom, #f05c1a, #7f310e);
    color: #ffffff;
    text-decoration: none;
}

.buybutton:active {
    background: #6a290c;
    background: -webkit-gradient(linear, left top, left bottom, from(#6a290c), to(#6a290c));
    background: -moz-linear-gradient(top, #6a290c, #6a290c);
    background: linear-gradient(to bottom, #6a290c, #6a290c);
}

/* Modal Styles */

@import "https://fonts.googleapis.com/css?family=Raleway";
.modalcontactForm {
    display: none;
    border: 6px solid salmon;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}

.modalinput, .modaltextarea {
    margin: .8em auto;
    font-family: inherit;
    text-transform: inherit;
    font-size: inherit;
    display: block;
    width: 280px;
    padding: .4em;
    font-size: 13px;
}

.modaltextarea {
    height: 80px;
    resize: none;
    font-size: 13px;
}

.modalformBtn {
    width: 140px;
    display: inline-block;
    background: teal;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    font-size: 13px;
}

/* Table view */

.containertable {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.containertable h2 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
}

.responsive-table li {
    border-radius: 3px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 40%;
}

.responsive-table .col-3 {
    flex-basis: 25%;
}

.responsive-table .col-4 {
    flex-basis: 25%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

/* Radio buttons */

.inputGroup {
	background-color: #fff;
	display: block;
	margin: 10px 0;
	position: relative;
}

.inputGroup label {
	padding: 12px 30px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}

.inputGroup label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: #5562eb;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}

.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
	color: #fff;
}

.inputGroup input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.inputGroup input:checked ~ label:after {
	background-color: #54E0C7;
	border-color: #54E0C7;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}

code {
	background-color: #9AA3AC;
	padding: 0 8px;
}