* {
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  font-family: Arial;
}

.imageclass {
  width: 100%;
  height: auto;
}

/* Center website */

.main {
  max-width: 1000px;
  margin: auto;
}

hr {
  display: block;
  height: 4px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  background-color: black;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */

.row, .row>.column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */

.column {
  float: left;
  width: 33.3%;
}

/* Clear floats after rows */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */

.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.messages {
  border: 1px solid #ccc;
  width: 100%;
  height: 150px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messfeedback {
  border: 1px solid #ccc;
  width: 100%;
  height: 100px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  color: cornsilk;
}

.message p {
  margin: 5px 0;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px;
  /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 250px;
  height: auto;
  margin: 5px 0px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .comment {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

#titleandprice .menutitle {
  float: left;
  list-style: none;
}

#titleandprice .price {
  float: right;
}
