/* <!-- Balog Rajnald Barnabas; 521; brim1598; 9-es feladat --> */

table, th, td {
    margin: auto;
    width: 50%;
    border: 0.5px solid rgb(0, 34, 34);
}

img {
    width: 600px;
    height: 400px
}

.thstyle {
    font-size: 20px;
    width: 100%;
    text-align: center;
}
  
.tdstyle {
    font-size: 18px;
    font-family: monospace;
}

body {
    background-color:paleturquoise;
    color : #2F4F4F
}

.forform{
    text-align: center;
    font-size: medium;
    padding: 10px;
}

.movetocenter{
    text-align: center;
}

.bordercolor{
    border: thick solid lightblue;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(0, 34, 34);
    padding: 10px;
}

input[type=button]{
    cursor: pointer;
    padding: unset;
    width: 10em;
    height: 2em;
}

input[type=submit]{
    cursor: pointer;
    padding: unset;
    width: 10em;
    height: 2em;
    color: darkolivegreen;
}

.canvasstyle {
    padding: 0;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
