<!DOCTYPE html>
<html lang="hu">

<head>

    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/ajax_admin_script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Helyek</title>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class=" sr-only"> Toggle Navigation</span>
                    <span class=" icon-bar"> </span>
                    <span class=" icon-bar"> </span>
                    <span class=" icon-bar"> </span>
                </button>

                <a class=" navbar-brand" href="#">HELYEK</a>
                <a class=" navbar-brand" href="/update">Modositas</a>
                <a class=" navbar-brand" href="/newplace">Uj hely</a>                    
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="form row">
            <div class="form-group col-md-1">
                <h4>Kulcsszo:</h4>
            </div>
            <div class="form-group col-md-6">
                <select class="form-control form-control-lg" id="select_kulcsszo">
                    
                </select>
            </div>
        </div>
        <div id="list_by_kolcsszo">
            <table class="table">
                <thead class="thead-light">
                    <th scope="col">ID</th>
                    <th scope="col">NEV</th>
                    <th scope="col">CIM</th>
                    <th scope="col">NYITVATARTAS</th>
                    <th scope="col">ORATOL</th>
                    <th scope="col">ORAIG</th>
                    <th scope="col">TERKEP</th>
                    <th scope="col">MEGKOZELITES LEIRASA</th>
                </thead>
                <tbody id="kulcs_table">

                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="form row">
            <div class="form-group col-md-6">
                <form action="/action_comment" method="POST" id="userform">
                    <h4 id="elerhetoseg" hidden>Elerhetosegek es megjegyzesek:</h4>

                    <select class="form-control form-control-lg" id="select_helyek" name="select_helyek" hidden>
                      
                    </select>
            </div>
        </div>
        <div id="list_by_helyid" hidden>
            <ul class="list-group">
                <li id="telefonszamok" class="list-group-item">
                    <b>Telefonszamok: </b>
                </li>
                <li id="emailcimek" class="list-group-item">
                    <b>Emailcimek: </b>
                </li>
                <li id="weboldalak" class="list-group-item">
                    <b>Weboldalak: </b>
                </li>
                <li id="kepek" class="list-group-item">
                    <b>Kepek: </b>
                </li>
                <li id="megjegyzesek" class="list-group-item">
                    <b>Megjegyzesek: </b>
                </li>
                <li id="felhaszanloimegjegyzesek" class="list-group-item">
                    <b>Felhasznalok megjegyzesei: </b>
                </li>
            </ul>
        </div>
        <div class="form-group" id="megjegyzes" hidden>
            <label for="exampleFormControlTextarea1">Megjegyzes irasa:</label>
            <textarea name="_comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <input type="submit" class="btn" value="Submit">
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
</body>

</html>