<!DOCTYPE html>
<html lang="hu">

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/guest_style.css">

  <script src="javascripts/jquery-3.3.1.min.js"></script>
  <script src="javascripts/guest_ajax.js"></script>
  <meta charset="UTF-8">
  <title>Menuk</title>
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class=" sr-only"> Toggle Navigation</span>
        </button>
        <a class=" navbar-brand" href="#">Menuk</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main" style="margin-top:100px">
    <h1>BOB BURGER FALODAJA</h1>
    <hr>
    <h2>Kategoriak</h2>
    <div>
      <select class="form-control form-control-lg" id="select_category">
        <option value="0">Mutasd mind</option>
        <% (dynamicdata.category).forEach(function(val){ %>
        <option value="<%= val._kategoriaid %>">
          <%= val._kategorianev %>
        </option>
        <% }); %>
      </select>
    </div>
    <!-- Portfolio Gallery Grid -->
    <div class="row" id="menu-content">

      <img src="http://www.chennaisuperqueen.com/wp-content/uploads/2017/07/food-spread.jpg" style="height: auto; width:100%">

    </div>

    <!-- END MAIN -->
  </div>


</body>

</html>