<!DOCTYPE html>
<html lang="hu">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/client_style.css">
  <link href="stylesheets/mdtimepicker.css" rel="stylesheet">

  <script src="javascripts/jquery-3.3.1.min.js"></script>
  <script src="javascripts/mdtimepicker.js"></script>
  <script src="javascripts/client_ajax.js"></script>

  <meta charset="UTF-8">

  <title>Menuk</title>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class=" sr-only"> Toggle Navigation</span>
        </button>
        <a class=" navbar-brand" href="/home">Menuk</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modalcontactForm">
    <h3>Kerem toltsd ki!</h3>
    <br>
    <form action="/addorder" method="POST" class="formclass">
      <input class="modalinput" placeholder="Cim" type="text" name="address" required />
      <input class="modalinput" placeholder="Tel." type="tel" name="phone" pattern="[0-9]{10,12}" required />
      <div class="inputGroup">
        <input id="radio1" value="0" name="radio" type="radio" required />
        <label for="radio1">Kezpenz</label>
      </div>
      <div class="inputGroup">
        <input id="radio2" value="1" name="radio" type="radio" required />
        <label for="radio2">Kartya</label>
      </div>
      <label>
        Erkezesi ido:
      </label>
      <input type="text" name="time" id="timepicker" value="10:00 AM" required />
      <textarea class="modaltextarea" name="specialreq" placeholder="Kulonleges kivansag"></textarea>
      <input class="modalformBtn" class="submitbtn" type="submit" />
      <input class="modalformBtn" type="reset" />
    </form>
  </div>
  <div class="main" style="margin-top:100px">
    <h1>BOB BURGER FALODAJA</h1>
    <hr>
    <br>
    <!-- Table -->
    <!-- <h2>Kiszallitas</h2> -->
    <div class="containertable">
      <h2>Kiszallitas</h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">ID</div>
          <div class="col col-2">Nev</div>
          <div class="col col-3">Szallitasi ido</div>
          <div class="col col-4">Szallitasi osszeg</div>
        </li>
        <% (dynamicdata.address).forEach(function(val){ %>
        <li class="table-row">
          <div class="col col-1" data-label="ID">
            <%= val._szallitasiidoid %>
          </div>
          <div class="col col-2" data-label="Nev">
            <%= val._cim %>
          </div>
          <div class="col col-3" data-label="Szallitasi ido">
            <%= val._szallitasiido %>
          </div>
          <div class="col col-4" data-label="Szallitasi osszeg">
            <%= val._szallitasiar %> EUR
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
    <br>
    <h2>Kategoriak</h2>
    <div>
      <select class="form-control form-control-lg" id="select_category">
        <option value="0">Mutasd mind</option>
        <% (dynamicdata.category).forEach(function(val){ %>
        <option value="<%= val._kategoriaid %>">
          <%= val._kategorianev %>
        </option>
        <% }); %>
      </select>
    </div>
    <!-- Portfolio Gallery Grid -->
    <div class="row" id="menu-content">
      <img src="http://www.chennaisuperqueen.com/wp-content/uploads/2017/07/food-spread.jpg" style="height: auto; width:100%">
    </div>
    <!-- END MAIN -->
  </div>
</body>

</html>