<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login &amp; Register </title>

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/form-elements.css">
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

  <!-- Top content -->
  <div class="top-content">

    <div class="inner-bg">
      <div class="container">

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1> Login &amp; Register Forms</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5">

            <div class="form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Login to our site</h3>
                  <p>Enter username and password to log on:</p>
                </div>
                <div class="form-top-right">
                  <i class="fa fa-key"></i>
                </div>
              </div>
              <div class="form-bottom">
                <form role="form" action="/" method="POST" class="login-form">
                  <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" name="_loginusername" placeholder="Username..." onblur="val.logusername(this)"
                      class="form-username form-control" id="_loginusername">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" name="_loginpassword" placeholder="Password..." onblur="val.logpassword(this)"
                      class="form-password form-control" id="_loginpassword">
                  </div>
                  <br>
                  <div>
                    <span id="_loginerror" class="error" style="color:red;"></span>
                  </div>
                  <br>
                  <button type="submit" class="btn">Sign in!</button>
                  <br>
                  <label class="script" for="form-control">
                    <%=dynamicdata.uzenetlogin%>
                  </label>
                </form>
                <form role="form" action="/guest" method="GET" class="login-form">
                  <br>
                  <button type="submit" class="btn">Sign in like a guest!</button>
                  <br>
                </form>
              </div>
            </div>

            <div class="social-login">
              <h3>...or login with:</h3>
              <div class="social-login-buttons">
                <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                  <i class="fa fa-facebook"></i> Facebook
                </a>
                <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
                <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                  <i class="fa fa-google-plus"></i> Google Plus
                </a>
              </div>
            </div>

          </div>

          <div class="col-sm-1 middle-border"></div>
          <div class="col-sm-1"></div>

          <div class="col-sm-5">

            <div class="form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Sign up now</h3>
                  <p>Fill in the form below to get instant access:</p>
                </div>
                <div class="form-top-right">
                  <i class="fa fa-pencil"></i>
                </div>
              </div>
              <div class="form-bottom">
                <form role="form" action="/registrate" method="POST" class="registration-form" id="fullform">
                  <div class="form-group">
                    <label class="sr-only" for="form-first-name">First name</label>
                    <input type="text" name="_firstname" placeholder="First name..." onblur="val.firstname(this)" class="form-first-name form-control"
                      id="_firstname">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-last-name">Last name</label>
                    <input type="text" name="_lastname" placeholder="Last name..." onblur="val.lastname(this)" class="form-last-name form-control"
                      id="_lastname">
                  </div>
                  <div>
                    <label class="script" for="form-control">Birthday</label>
                    <input id="_bday" type="date" name="_bday" onblur="val.bday(this)" class="bordercolor">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-email">Tel.</label>
                    <input type="text" name="_telnumber" placeholder="Tel. number..." onblur="val.telnumber(this)"
                      class="form-email form-control" id="_telnumber">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-email">Email</label>
                    <input type="text" name="_email" placeholder="Email..." onblur="val.email(this)" class="form-email form-control"
                      id="_email">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" name="_username" placeholder="Username..." onblur="val.username(this)" class="form-email form-control"
                      id="_username">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" name="_password" placeholder="Password..." onblur="val.password(this)" class="form-email form-control"
                      id="_password">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-email">Password Again</label>
                    <input type="password" name="_password_again" placeholder="Password..." onblur="val.password_again(this)"
                      class="form-email form-control" id="_password_again">
                  </div>
                  <input id="_validateButton" type="button" value="Validate" onclick="val.isValid()" class="btn">
                  <br>
                  <br>
                  <div>
                    <span id="_error" class="error" style="color:red;"></span>
                  </div>
                  <br>
                  <br>
                  <button id="_submitButton" type="submit" class="btn" disabled>Sign me up!</button>
                  <br>
                  <label class="script" for="form-control">
                    <%=dynamicdata.uzenetregistrate%>
                  </label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Javascript -->
  <script src="assets/js/jquery-1.11.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.backstretch.min.js"></script>
  <script src="assets/js/scripts.js"></script>
  <script src="javascripts/itsokay.js"></script>

</body>

</html>